{%extends "base.html"%}

{% block head %}
   <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
{% endblock head%}

{%block content%}
	<h1 class="page-header">Details of {{nvf.get_name}}</h1>
	Frequencia central DL: {{nvf.freC_DL}} Hz<br/>
	Bandwidth DL: {{nvf.BW_DL}} Hz<br/>
    RB offer: {{nvf.rb}}</br>
	Frequencia central UL: {{nvf.freC_UL}} Hz<br/>
	Bandwidth UL: {{nvf.BW_UL}} Hz<br/>
	Power transmited: {{nvf.Pt}} dBm<br/>
	Number of users : {{nvf.users}}<br/>
    Type of NVF: {{nvf.type}}</br>
	</div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Cell Parameters</h1>
            <h3 class="page-header">Cell load</h3>
            <div class="panel panel-default">
		<div class="panel-body">
            <canvas id="load" width="1000" height="300" style = "float: left"></canvas>
            </div>
            </div>
    </div>

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Resources</h1>
            <h3>CPU</h3>
            <div class="panel panel-default">
		<div class="panel-body">
          <canvas id="cpu" width="1000" height="300" style = "float: left"></canvas>
            </div>
                </div>
            <h3>RAM</h3>
          <div class="panel panel-default">
		<div class="panel-body">
          <canvas id="ram" width="1000" height="300"></canvas>
            </div>
              </div>
                  <h3>Network</h3>
            <div class="panel panel-default">
		<div class="panel-body">

          <canvas id="network" width="1000" height="300" style = "float: left"></canvas>
            </div>
                </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">List of users</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Pt DL</th>
                  <th>Pt UL</th>
                  <th>Service</th>
                  <th>MCS</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                        <tr>
                          <td>{{client.get_name}}</td>
                          <td>{{client.pt_dl}}</td>
                          <td>{{client.pt_dl}}</td>
                          <td>{{client.rb}}</td>
                          <td>{{client.mcs}}</td>
                          <td>
                            <a href="{{deploy.id}}/delete/" class="btn btn-danger" role="button">Delete</a>
                          </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
{%endblock content%}

{%block map%}
<script>
	$(function(){
		var data = {
			labels: ["0:00","1:00","2:00","3:00","4:00","5:00","6:00","7:00","8:00","9:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00"],
			datasets:[
			{
				label: "the firts dataset",
				fillColor: "rgba(153,0,76,0,2)",
				strokeColor: "rgba(153,0,76,1)",
				pointColor: "rgba(153,0,76,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(153,0,76,1)",
				data: [{{nvf.load}}],
			},
			]
		};
		var option = {};
		var ctx = document.getElementById("load").getContext("2d");
		var mylineChart = new Chart(ctx).Line(data,option);
	});
</script>
<script>
	$(function(){
		var data = {
			labels: ["0:00","1:00","2:00","3:00","4:00","5:00","6:00","7:00","8:00","9:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00"],
			datasets:[
			{
				label: "the firts dataset",
				fillColor: "rgba(153,0,76,0,2)",
				strokeColor: "rgba(153,0,76,1)",
				pointColor: "rgba(153,0,76,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(153,0,76,1)",
				data: [100,34,21,56,23,90,40]
			},
			]
		};
		var option = {};
		var ctx = document.getElementById("cpu").getContext("2d");
		var mylineChart = new Chart(ctx).Line(data,option);
	});
</script>
<script>
	$(function(){
		var data = {
			labels: ["0:00","1:00","2:00","3:00","4:00","5:00","6:00","7:00","8:00","9:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00"],
			datasets:[
			{
				label: "the firts dataset",
				fillColor: "rgba(153,0,76,0,2)",
				strokeColor: "rgba(153,0,76,1)",
				pointColor: "rgba(153,0,76,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(153,0,76,1)",
				data: [100,34,21,56,23,90,40]
			},
			]
		};
		var option = {};
		var ctx = document.getElementById("ram").getContext("2d");
		var mylineChart = new Chart(ctx).Line(data,option);
	});
</script>
<script>
	$(function(){
		var data = {
			labels: ["0:00","1:00","2:00","3:00","4:00","5:00","6:00","7:00","8:00","9:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00"],
			datasets:[
			{
				label: "the firts dataset",
				fillColor: "rgba(153,0,76,0,2)",
				strokeColor: "rgba(153,0,76,1)",
				pointColor: "rgba(153,0,76,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(153,0,76,1)",
				data: [100,34,21,56,23,90,40] 
			},
			]
		};
		var option = {};
		var ctx = document.getElementById("network").getContext("2d");
		var mylineChart = new Chart(ctx).Line(data,option);
	});
</script>
{%endblock map%}